*{
    margin: 0;
    padding: 0;
}

button{
    border: 0px;
    outline: none;
}

.App{ 
    background-color: #000; 
    height: 100vh;
}

.logo{
    width: 150px;
}

.logo img{
    width: 100%;
}
.calendar{
    width: 90%;
    margin-left: 5%;
    color: #fff;
}


.rbc-toolbar button{

}
.rbc-toolbar-label{
    font-size: 2rem;
    font-weight: bold;
}

.rbc-date-cell a{
    font-size: 0.5rem;
}
